*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  .content .servicesBx:hover{
    transform: translateY(-20px);
    
    background: linear-gradient(45deg, #49abd8, #5da2c2,#d1cbcb);
    color: white;
  }
  
  .servicesBx::before{
  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #03a9f4,#925b6e);
  }
  
  
  
  .containerfooter{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: #262626;
  }
  .containerfooter ul{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .containerfooter ul li{
    position: relative;
    display: block;
    color: #666;
    font-size: 25px;
    height: 50px;
    width: 50px;
    background: #171515;
    line-height: 50px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
  }
  .containerfooter ul li a{
      color: #0f8bc5;
      transform: translateY(-20px);
  }
  .containerfooter ul li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    /* background: #d35400; */
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .6s;
  }
  .containerfooter ul li:nth-child(1):before{
    background: #4267B2;
  }
  
  .containerfooter ul li:nth-child(2):before{
    background: #E1306C;
  }
  .containerfooter ul li:nth-child(3):before{
    background: #2867B2;
  }
  .containerfooter ul li:nth-child(4):before{
    background: #ff0000;
  }
  .containerfooter ul li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
  }
  .containerfooter ul li:nth-child(1):hover:before{
    box-shadow: 0 0 15px #4267B2;
  }
  
  .containerfooter ul li:nth-child(2):hover:before{
    box-shadow: 0 0 15px #E1306C;
  }
  .containerfooter ul li:nth-child(3):hover:before{
    box-shadow: 0 0 15px #2867B2;
  }
  .containerfooter ul li:nth-child(4):hover:before{
    box-shadow: 0 0 15px #ff0000;
  }
  .containerfooter ul li:nth-child(1):hover{
    color: #456cba;
    box-shadow: 0 0 15px #4267B2;
    text-shadow: 0 0 5px #4267B2;
  }
  
  .containerfooter ul li:nth-child(2):hover{
    color: #e23670;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 5px #E1306C;
  }
  .containerfooter ul li:nth-child(3):hover{
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867B2;
    text-shadow: 0 0 5px #2867B2;
  }
  .containerfooter ul li:nth-child(4):hover{
    color: #ff1a1a;
    box-shadow: 0 0 15px #ff0000;
    text-shadow: 0 0 5px #ff0000;
  }
  /*Footer*/
  .footer-copyright{
    background: rgb(66, 63, 63);
    color: #fff;
  }
  .footer-copyright a{
    color: #fff;
  }
  
  
  form h3{
  margin-left: 10px;
  }
  
  .wrapper{
  width: 550px;

  padding:10px;
  /*box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
  }
  .wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
  }
  .wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid silver;
  }
  .input-data input:focus ~ label,
  .input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
  
  }
  .wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
  }
  .input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  }
  .input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before{
  transform: scaleX(1);
  }

  